/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #2a3d66; /* Bleu Marine */
}

a {
    text-decoration: none;
    color: #9e1c1c; /* Rouge Foncé */
}

header {
    background-color: #2a3d66; /* Bleu Marine */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #9e1c1c; /* Rouge Foncé */
}

ul {
    list-style: disc;
    margin-left: 20px;
}

blockquote {
    font-style: italic;
    color: #9e1c1c;
    margin: 20px 0;
}

footer {
    background-color: #2a3d66;
    color: white;
    text-align: center;
    padding: 20px;
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}
